<%- partial('common/header') %>
<body>
  <div class="header">
    <h1 class="title">周宁奕余晓瑞婚礼</h1>
  </div>

  <div class="container">
    <div class="rows">
      <a href="/pages/invit">请柬页面</a>
    </div>
    <div class="rows">
      <a href="/pages/upload">上传祝福图片</a>
    </div>
    <div class="rows">
      <a href="/pages/pano">婚宴酒店街景</a>
    </div>
    <div class="rows">
      <a href="http://api.map.baidu.com/marker?location=31.02448,121.438844&title=婚宴酒店&content=上海交通大学闵行校区留园
&output=html&src=世纪婚礼">婚宴酒店地图</a>
    </div>
    <div class="rows">
      <a href="tel:057188888888">0571-88888888</a>
    </div>
  </div>
</body>
<%- partial('common/footer') %>