<%- partial('common/header') %>
<body>
  <div class="header">
    <h1 class="title">图片上传 Demo</h1>
  </div>

  <div class="container">
    <div class="formbox">
      <form action="/api/upload" method="post" enctype="multipart/form-data">
        <div class="rows">
          <input type="file" name="upload" id="upload" accept="image/*" />
        </div>
        <div class="rows">
          <input type="submit" name="submit" value="上传图片" />
        </div>
      </form>
    </div>
  </div>
</body>
<%- partial('common/footer') %>
